USE [master]
GO
/****** Object:  Database [DVDfilms]    Script Date: 30/09/2025 10:18:21 CH ******/
CREATE DATABASE [DVDfilms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DVDfilms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DVDfilms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DVDfilms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DVDfilms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DVDfilms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DVDfilms]
GO
/****** Object:  Table [dbo].[category]    Script Date: 30/09/2025 10:18:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] NOT NULL,
	[name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[film]    Script Date: 30/09/2025 10:18:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[film](
	[film_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[release_year] [int] NULL,
	[rental_duration] [int] NOT NULL,
	[rental_rate] [numeric](4, 2) NOT NULL,
	[length] [int] NULL,
	[replacement_cost] [numeric](5, 2) NOT NULL,
	[rating] [varchar](15) NULL,
	[special_features] [varchar](300) NULL,
	[fulltext] [varchar](300) NOT NULL,
 CONSTRAINT [PK_film] PRIMARY KEY CLUSTERED 
(
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[film_category]    Script Date: 30/09/2025 10:18:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[film_category](
	[film_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_film_category] PRIMARY KEY CLUSTERED 
(
	[film_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[category] ([category_id], [name]) VALUES (1, N'Action')
INSERT [dbo].[category] ([category_id], [name]) VALUES (2, N'Animation')
INSERT [dbo].[category] ([category_id], [name]) VALUES (3, N'Children')
GO
INSERT [dbo].[film] ([film_id], [title], [description], [release_year], [rental_duration], [rental_rate], [length], [replacement_cost], [rating], [special_features], [fulltext]) VALUES (1, N'Academy Dinosaur', N'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 1999, 6, CAST(0.99 AS Numeric(4, 2)), 86, CAST(20.99 AS Numeric(5, 2)), N'PG', N'{"Deleted Scenes","Behind the Scenes"}', N'''academi'':1 ''battl'':15 ''canadian'':20 ''dinosaur'':2 ''drama'':5 ''epic'':4 ''feminist'':8 ''mad'':11 ''must'':14 ''rocki'':21 ''scientist'':12 ''teacher'':17')
INSERT [dbo].[film] ([film_id], [title], [description], [release_year], [rental_duration], [rental_rate], [length], [replacement_cost], [rating], [special_features], [fulltext]) VALUES (2, N'Ace Goldfinger', N'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 1977, 3, CAST(4.99 AS Numeric(4, 2)), 48, CAST(12.99 AS Numeric(5, 2)), N'G', N'{Trailers,"Deleted Scenes"}', N'''ace'':1 ''administr'':9 ''ancient'':19 ''astound'':4 ''car'':17 ''china'':20 ''databas'':8 ''epistl'':5 ''explor'':12 ''find'':15 ''goldfing'':2 ''must'':14')
INSERT [dbo].[film] ([film_id], [title], [description], [release_year], [rental_duration], [rental_rate], [length], [replacement_cost], [rating], [special_features], [fulltext]) VALUES (3, N'Adaptation Holes', N'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 1996, 7, CAST(2.99 AS Numeric(4, 2)), 50, CAST(18.99 AS Numeric(5, 2)), N'NC-17', N'{Trailers,"Deleted Scenes"}', N'''adapt'':1 ''astound'':4 ''baloon'':19 ''car'':11 ''factori'':20 ''hole'':2 ''lumberjack'':8,16 ''must'':13 ''reflect'':5 ''sink'':14')
GO
INSERT [dbo].[film_category] ([film_id], [category_id]) VALUES (1, 6)
INSERT [dbo].[film_category] ([film_id], [category_id]) VALUES (2, 11)
INSERT [dbo].[film_category] ([film_id], [category_id]) VALUES (3, 6)
GO
ALTER TABLE [dbo].[film] ADD  CONSTRAINT [DF_film_rental_duration]  DEFAULT ((3)) FOR [rental_duration]
GO
ALTER TABLE [dbo].[film] ADD  CONSTRAINT [DF_film_rental_rate]  DEFAULT ((4.99)) FOR [rental_rate]
GO
ALTER TABLE [dbo].[film] ADD  CONSTRAINT [DF_film_replacement_cost]  DEFAULT ((19.99)) FOR [replacement_cost]
GO
ALTER TABLE [dbo].[film] ADD  CONSTRAINT [DF_film_rating]  DEFAULT ('G') FOR [rating]
GO
ALTER TABLE [dbo].[film_category]  WITH CHECK ADD  CONSTRAINT [FK_filmcategory_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[film_category] CHECK CONSTRAINT [FK_filmcategory_category]
GO
ALTER TABLE [dbo].[film_category]  WITH CHECK ADD  CONSTRAINT [FK_filmcategory_film] FOREIGN KEY([film_id])
REFERENCES [dbo].[film] ([film_id])
GO
ALTER TABLE [dbo].[film_category] CHECK CONSTRAINT [FK_filmcategory_film]
GO
USE [master]
GO
